* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(#f4ffe6, #cce500);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 400px;
  background-color: #d4e820;
  padding: 20px;
  border-radius: 10px;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.logo{
width: 50%;
max-width: 160px;
}

h1 {
  font-size: 1.6rem;
  color: #000;
}

.car {
  width: 70%;
  max-width: 250px;
}

.next-btn {
  padding: 12px 24px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

/* Extra small devices */
@media (max-width: 360px) {
  h1 {
    font-size: 1.2rem;
  }

  .next-btn {
    font-size: 0.9rem;
    padding: 10px 20px;
  }
}
a {
  text-decoration: none;
  color: inherit;
}